.portfolio {
  background-color: #ffffff;
  display: flex;
  height: 400vh !important;
  h1 {
    position: absolute;
    width: 539px;
    height: 114px;
    left: 451px;
    top: 1800px;
    font-family: Futura;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    color: #000000;
  }
  .portfolio-one {
    .left {
      position: absolute;
      width: 638.44px;
      height: 404.52px;
      left: 122px;
      top: 2000px;
      z-index: 1;
    }
  
    .right {
      .wrapper {
        position: absolute;
        width: 784px;
        height: 450px;
        left: 534px;
        top: 2063px;
  
        border: 1px solid #482041;
        box-sizing: border-box;
        border-radius: 4px;
        h2 {
          position: absolute;
          width: 322px;
          height: 55px;
          left: 285px;
          top: 100px;
          
          font-family: Futura;
          font-style: normal;
          font-weight: 500;
          font-size: 32px;
          line-height: 48px;
          color: #000000;
        }
        h3 {
          position: absolute;
          width: 477px;
          height: 215px;
          left: 285px;
          top: 170px;
          
          font-family: DM Sans;
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 36px;
          color: #000000;
        }
        .button-wrapper {
          display: flex;
          justify-content: space-between;
          position: absolute;
          margin-top: 340px;
          left: 285px;
          width: 52%;
          button {
            width: 200px;
            height: 54px;
            left: 160px;
            top: 530px;
  
            background: #984F97;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 4px;
            font-family: DM Sans;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 36px;
            color: #ffffff;
            border: none;
          }
        }
      }
    }
  
  }

  .portfolio-two {
    .left {
      position: absolute;
      width: 638.44px;
      height: 404.52px;
      left: 122px;
      top: 2700px;
      z-index: 1;
    }
  
    .right {
      .wrapper {
        position: absolute;
        width: 784px;
        height: 450px;
        left: 534px;
        top: 2760px;
  
        border: 1px solid #482041;
        box-sizing: border-box;
        border-radius: 4px;
        h2 {
          position: absolute;
          width: 322px;
          height: 55px;
          left: 285px;
          top: 100px;
          
          font-family: Futura;
          font-style: normal;
          font-weight: 500;
          font-size: 32px;
          line-height: 48px;
          color: #000000;
        }
        h3 {
          position: absolute;
          width: 477px;
          height: 215px;
          left: 285px;
          top: 170px;
          
          font-family: DM Sans;
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 36px;
          color: #000000;
        }
        .button-wrapper {
          display: flex;
          justify-content: space-between;
          position: absolute;
          margin-top: 340px;
          left: 285px;
          width: 52%;
          button {
            width: 200px;
            height: 54px;
            left: 160px;
            top: 530px;
  
            background: #984F97;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 4px;
            font-family: DM Sans;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 36px;
            color: #ffffff;
            border: none;
          }
        }
      }
    }
  }
  .portfolio-three {
    .left {
      position: absolute;
      width: 638.44px;
      height: 404.52px;
      left: 122px;
      top: 3400px;
      z-index: 1;
    }
  
    .right {
      .wrapper {
        position: absolute;
        width: 784px;
        height: 450px;
        left: 534px;
        top: 3463px;
  
        border: 1px solid #482041;
        box-sizing: border-box;
        border-radius: 4px;
        h2 {
          position: absolute;
          width: 322px;
          height: 55px;
          left: 285px;
          top: 100px;
          
          font-family: Futura;
          font-style: normal;
          font-weight: 500;
          font-size: 32px;
          line-height: 48px;
          color: #000000;
        }
        h3 {
          position: absolute;
          width: 477px;
          height: 215px;
          left: 285px;
          top: 170px;
          
          font-family: DM Sans;
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 36px;
          color: #000000;
        }
        .button-wrapper {
          display: flex;
          justify-content: space-between;
          position: absolute;
          margin-top: 340px;
          left: 285px;
          width: 52%;
          button {
            width: 200px;
            height: 54px;
            left: 160px;
            top: 530px;
  
            background: #984F97;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 4px;
            font-family: DM Sans;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 36px;
            color: #ffffff;
            border: none;
          }
        }
      }
    }
  }

  .portfolio-four {
    .left {
      position: absolute;
      width: 638.44px;
      height: 404.52px;
      left: 122px;
      top: 4100px;
      z-index: 1;
    }
  
    .right {
      .wrapper {
        position: absolute;
        width: 784px;
        height: 450px;
        left: 534px;
        top: 4163px;
  
        border: 1px solid #482041;
        box-sizing: border-box;
        border-radius: 4px;
        h2 {
          position: absolute;
          width: 322px;
          height: 55px;
          left: 285px;
          top: 100px;
          
          font-family: Futura;
          font-style: normal;
          font-weight: 500;
          font-size: 32px;
          line-height: 48px;
          color: #000000;
        }
        h3 {
          position: absolute;
          width: 477px;
          height: 215px;
          left: 285px;
          top: 170px;
          
          font-family: DM Sans;
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 36px;
          color: #000000;
        }
        .button-wrapper {
          display: flex;
          justify-content: space-between;
          position: absolute;
          margin-top: 340px;
          left: 285px;
          width: 52%;
          button {
            width: 200px;
            height: 54px;
            left: 160px;
            top: 530px;
  
            background: #984F97;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 4px;
            font-family: DM Sans;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 36px;
            color: #ffffff;
            border: none;
          }
        }
      }
    }
  }
}




