@import "../../global.scss";

.portfolio {
  background-color: #ffffff;
  display: flex;
  height: 400vh !important;
  @include desktop {
    height: 235vh !important;
  }
  h1 {
    position: absolute;
    width: 539px;
    height: 114px;
    left: 451px;
    top: 1800px;
    font-family: Futura;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    color: #000000;

    @include mobile {
      top: 3000px;
      left: 0px;
      font-size: 34px;
      width: 375px;
    }
    @include desktop {
      left: 651px;
    }
  }
  .portfolio-one {
    .left {
      position: absolute;
      width: 638.44px;
      height: 410.52px;
      left: 122px;
      top: 2000px;
      z-index: 1;
      background-image: url(../../images/Assets/hanqout.svg);
      background-repeat: no-repeat;
    
      @include mobile {
        width: 100%;
        left: 0px;
        top: 3167px;
        background-image: url(../../images/hanqoutmobile.svg);
        background-repeat: no-repeat;
      }
      @include desktop {
        left: 352px;
      }
    }
  
    .right {
      .wrapper {
        position: absolute;
        width: 784px;
        height: 450px;
        left: 534px;
        top: 2063px;
  
        border: 1px solid rgba(80, 80, 90, 0.5);
        box-sizing: border-box;
        border-radius: 4px;

        @include mobile {
          width: 100%;
          left: -250px;
          border: none;
          top: 3285px;
        }
        @include desktop {
          left: 764px;
        }
        h2 {
          position: absolute;
          width: 322px;
          height: 55px;
          left: 285px;
          top: 100px;
          
          font-family: Futura;
          font-style: normal;
          font-weight: 500;
          font-size: 32px;
          line-height: 48px;
          color: #000000;

          @include mobile {
            font-size: 28px;
          }
        }
        h3 {
          position: absolute;
          width: 477px;
          height: 215px;
          left: 285px;
          top: 170px;
          
          font-family: DM Sans;
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 36px;
          color: #000000;
          @include mobile {
            width: 300px;
            top: 157px;
          }
        }
        .button-wrapper {
          display: flex;
          justify-content: space-between;
          position: absolute;
          margin-top: 340px;
          left: 285px;
          width: 52%;
          @include mobile {
            margin-top: 420px;
            flex-direction: column;
          }
          a {
            width: 200px;
            height: 54px;
            left: 160px;
            top: 530px;
            text-decoration: none;
            place-items: center;
            display: flex;
            justify-content: center;
  
            background: #984F97;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 4px;
            font-family: DM Sans;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 36px;
            color: #ffffff;
            border: none;
            @include mobile {
              margin-top: 10px;
              margin-right: 10px;
              font-size: 16px;
            }
          }
        }
      }
    }
  
  }

  .portfolio-two {
    .left {
      position: absolute;
      width: 638.44px;
      height: 404.52px;
      left: 122px;
      top: 2700px;
      z-index: 1;
      background-image: url(../../images/Assets/heiss.svg);
      background-repeat: no-repeat;
    
      @include mobile {
        width: 100%;
        left: 0px;
        top: 3933px;
        background-image: url(../../images/heissmobile.svg);
        background-repeat: no-repeat;
      }
      @include desktop {
        left: 352px;
      }
    }
  
    .right {
      .wrapper {
        position: absolute;
        width: 784px;
        height: 450px;
        left: 534px;
        top: 2760px;
  
        border: 1px solid  rgba(80, 80, 90, 0.5);
        box-sizing: border-box;
        border-radius: 4px;
        @include mobile {
          width: 100%;
          left: -250px;
          border: none;
          top: 4061px;
        }
        @include desktop {
          left: 764px;
        }
        h2 {
          position: absolute;
          width: 322px;
          height: 55px;
          left: 285px;
          top: 100px;
          
          font-family: Futura;
          font-style: normal;
          font-weight: 500;
          font-size: 32px;
          line-height: 48px;
          color: #000000;
          @include mobile {
            font-size: 28px;
          }
        }
        h3 {
          position: absolute;
          width: 477px;
          height: 215px;
          left: 285px;
          top: 170px;
          
          font-family: DM Sans;
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 36px;
          color: #000000;
          @include mobile {
            width: 300px;
            top: 157px;
          }
        }
        .button-wrapper {
          display: flex;
          justify-content: space-between;
          position: absolute;
          margin-top: 340px;
          left: 285px;
          width: 52%;
          @include mobile {
            margin-top: 387px;
            flex-direction: column;
          }
          a {
            width: 200px;
            height: 54px;
            left: 160px;
            top: 530px;
            text-decoration: none;
            place-items: center;
            display: flex;
            justify-content: center;
  
            background: #984F97;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 4px;
            font-family: DM Sans;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 36px;
            color: #ffffff;
            border: none;
            @include mobile {
              margin-top: 10px;
              margin-right: 10px;
              font-size: 16px;
            }
          }
        }
      }
    }
  }
  .portfolio-three {
    .left {
      position: absolute;
      width: 638.44px;
      height: 404.52px;
      left: 122px;
      top: 3400px;
      z-index: 1;
      background-image: url(../../images/Assets/drinkard.svg);
      background-repeat: no-repeat;
    
      @include mobile {
        width: 100%;
        left: 0px;
        top: 4678px;
        background-image: url(../../images/drinkardmobile.svg);
        background-repeat: no-repeat;
      }
      @include desktop {
        left: 352px;
      }
    }
  
    .right {
      .wrapper {
        position: absolute;
        width: 784px;
        height: 450px;
        left: 534px;
        top: 3463px;
  
        border: 1px solid  rgba(80, 80, 90, 0.5);
        box-sizing: border-box;
        border-radius: 4px;
        @include mobile {
          width: 100%;
          left: -250px;
          border: none;
          top: 4762px;
        }
        @include desktop {
          left: 764px;
        }
        h2 {
          position: absolute;
          width: 322px;
          height: 55px;
          left: 285px;
          top: 100px;
          
          font-family: Futura;
          font-style: normal;
          font-weight: 500;
          font-size: 32px;
          line-height: 48px;
          color: #000000;
          @include mobile {
            font-size: 28px;
            top: 138px;
          }
        }
        h3 {
          position: absolute;
          width: 477px;
          height: 215px;
          left: 285px;
          top: 170px;
          
          font-family: DM Sans;
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 36px;
          color: #000000;
          @include mobile {
            width: 300px;
            top: 191px;
          }
        }
        .button-wrapper {
          display: flex;
          justify-content: space-between;
          position: absolute;
          margin-top: 340px;
          left: 285px;
          width: 52%;
          @include mobile {
            flex-direction: column;
            margin-top: 420px;
          }
          a {
            width: 200px;
            height: 54px;
            left: 160px;
            top: 530px;
            text-decoration: none;
            place-items: center;
            display: flex;
            justify-content: center;
  
            background: #984F97;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 4px;
            font-family: DM Sans;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 36px;
            color: #ffffff;
            border: none;
            @include mobile {
              margin-top: 10px;
              margin-right: 10px;
              font-size: 16px;
            }
          }
        }
      }
    }
  }

  .portfolio-four {
    .left {
      position: absolute;
      width: 638.44px;
      height: 404.52px;
      left: 122px;
      top: 4100px;
      z-index: 1;
      background-image: url(../../images/Assets/snake.svg);
      background-repeat: no-repeat;
    
      @include mobile {
        width: 100%;
        left: 0px;
        top: 5415px;
        background-image: url(../../images/snakemobile.svg);
        background-repeat: no-repeat;
      }
      @include desktop {
        left: 352px;
      }
    }
  
    .right {
      .wrapper {
        position: absolute;
        width: 784px;
        height: 450px;
        left: 534px;
        top: 4163px;
  
        border: 1px solid  rgba(80, 80, 90, 0.5);
        box-sizing: border-box;
        border-radius: 4px;
        @include mobile {
          width: 100%;
          left: -250px;
          border: none;
          top: 5540px;
        }
        @include desktop {
          left: 764px;
        }
        
        h2 {
          position: absolute;
          width: 322px;
          height: 55px;
          left: 285px;
          top: 100px;
          
          font-family: Futura;
          font-style: normal;
          font-weight: 500;
          font-size: 32px;
          line-height: 48px;
          color: #000000;
        }
        h3 {
          position: absolute;
          width: 477px;
          height: 215px;
          left: 285px;
          top: 170px;
          
          font-family: DM Sans;
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 36px;
          color: #000000;
          @include mobile {
            width: 300px;
            top: 152px;
          }
        }
        .button-wrapper {
          display: flex;
          justify-content: space-between;
          position: absolute;
          margin-top: 340px;
          left: 285px;
          width: 52%;
          @include mobile {
            flex-direction: column;
            margin-top: 420px;
          }
          a {
            width: 200px;
            height: 54px;
            left: 160px;
            top: 530px;
            text-decoration: none;
            place-items: center;
            display: flex;
            justify-content: center;
  
            background: #984F97;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 4px;
            font-family: DM Sans;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 36px;
            color: #ffffff;
            border: none;
            @include mobile {
              margin-top: 10px;
              margin-right: 10px;
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}




