@import "../../global.scss";

.skills {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  h3 {
    position: absolute;
    width: 864px;
    height: 48px;
    left: 288px;
    top: 821px;

    font-family: DM Sans;
    font-style: normal;
    font-weight: 100;
    font-size: 24px;
    line-height: 36px;
    color: #000000;

    @include mobile {
      top: 1200px;
    }
  }
  .tools {
    display: flex;
    flex-wrap: wrap;
    // mix-blend-mode: luminosity;
    margin-top: 200px;
    
    .imgContainer {
      // width: 90px;
      img {
        width: 30px;

      }
      h4 {
        font-style: italic;
        font-weight: normal;
        font-size: 14px;
        line-height: 36px;
        color: #757575;
      }
    }
  }
  .services {
    h1 {
      position: absolute;
      width: 539px;
      height: 114px;
      left: 451px;
      top: 1107px;
      font-family: Futura;
      font-style: normal;
      font-weight: 500;
      font-size: 48px;
      line-height: 56px;
      text-align: center;
      color: #000000;
    }
    h3 {
      position: absolute;
      width: 118px;
      height: 60px;
      left: 70px;
      top: 155px;

      font-family: DM Sans;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 30px;
      text-align: center;
      color: #000000;
    }
    h4 {
      position: absolute;
      width: 253px;
      height: 81px;
      top: 230px;

      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 36px;
      text-align: center;
      color: #000000;
      padding-left: 5px;
      padding-right: 5px;
    }
  }
  .service-list {
    position: absolute;
    width: 253px;
    height: 347px;
    left: 111px;
    top: 1264px;

    background: #FFFF00;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    margin-top: 30px;
  }
  .service-list-layer {
    position: absolute;
    width: 253px;
    height: 347px;
    left: 122px;
    top: 1275px;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    margin-top: 30px;
  
    img {
      position: absolute;
      left: 70px;
      top: 20px;
      
    }
  }
  .service-list-two {
    position: absolute;
    width: 253px;
    height: 347px;
    left: 420px;
    top: 1264px;

    background: #49B6E2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    margin-top: 30px;
  }
  .service-list-two-layer {
    position: absolute;
    width: 253px;
    height: 347px;
    left: 434px;
    top: 1277px;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    margin-top: 30px;
    img {
      position: absolute;
      left: 60px;
      top: 20px;
    }
  }

  .service-list-three {
    position: absolute;
    width: 253px;
    height: 347px;
    left: 734px;
    top: 1264px;

    background: #7E3BF3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    margin-top: 30px;
  }
  .service-list-three-layer {
    position: absolute;
    width: 253px;
    height: 347px;
    left:  747px;
    top: 1277px;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    margin-top: 30px;
    img {
      position: absolute;
      left: 60px;
      top: 20px;
    }
  }
  .service-list-four {
    position: absolute;
    width: 253px;
    height: 347px;
    left: 1046px;
    top: 1264px;

    background: #F3A841;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    margin-top: 30px;
  }
  .service-list-four-layer {
    position: absolute;
    width: 253px;
    height: 347px;
    left: 1060px;
    top: 1277px;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    margin-top: 30px;
    img {
      position: absolute;
      left: 60px;
      top: 20px;
    }
  }
}