@import "../../global.scss";

.navbar {
  width: 100%;
  height: 150px;
  background-color: #984F97;
  color: $mainColor !important;
  position: fixed;
  top: 0;
  z-index: 3;
  transition: all 1s ease;

  @include mobile {
    width: 30%;
  }

  .wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    
    .left-side {
      padding: 30px 590px;
      @include mobile {
        padding: 30px 80px;
      }
      a .logo {
        @include mobile {
          width: 100%;
        }
      }
    }

    .right-side {
      .hamburger {
        width: 32px;
        height: 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        margin-top: 60px;
        margin-right: 25px;
        span {
          width:100%;
          height: 3px;
          background-color: $mainColor;
          transform-origin: left;
          transition: all 2s ease;
        }
      }
    }
  } 

  &.active {
    background-color: $mainColor;
    color: #151417;

    .hamburger {
      span {
        &:first-child {
          background-color: #151417;
          transform: rotate(45deg);
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:last-child {
          background-color: #151417;
          transform: rotate(-45deg);
        }
      }
    }
  }
}

