@import "../../global.scss";

.navbar {
  width: 100%;
  height: 150px;
  background-color: #984F97;
  color: $mainColor !important;
  position: fixed;
  top: 0;
  z-index: 3;
  transition: all 1s ease;

  .wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    .left-side {
      padding: 10px 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      justify-content: space-between;
    
      .column-one {
        display: flex;
        align-items: center;
        margin-left: 300px;
        .left {
          span {
            margin-right: 30px;
            font-size: 14px;
            font-weight: bold;
          }
        }
      }
    
      .mid {
        display: flex;
        align-items: center;
        .logo {
          background: url('../../Assets/logo.svg');
          background-repeat: no-repeat;
          margin-top: 20px;
        }
      }
      .column-three {
        display: flex;
        align-items: center;
        margin-right: 300px;
        .right {
          span {
            margin-left: 30px;
            font-size: 14px;
            font-weight: bold;
          }
        }
      }
    }

    .right-side {
      .hamburger {
        width: 32px;
        height: 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        margin-top: 25px;
        margin-right: 25px;
        span {
          width:100%;
          height: 3px;
          background-color: $mainColor;
          transform-origin: left;
          transition: all 2s ease;
        }
      }
    }
  } 

  &.active {
    background-color: $mainColor;
    color: #151417;

    .hamburger {
      span {
        &:first-child {
          background-color: #151417;
          transform: rotate(45deg);
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:last-child {
          background-color: #151417;
          transform: rotate(-45deg);
        }
      }
    }
  }
}

