@import "../../global.scss";


.intro {
  background-color: #984F97;
  display: flex;
  

  @include mobile {
    flex-direction: column;
    align-items: center;
    height: 117vh !important;
  }

  .left {
    flex: 0.5;
    @include mobile {
      flex: none;
    }
     
    .wrapper {
      border-radius: 4px;
      border: 1px solid #ffffff;
      padding-left: 40px;
      margin-top: 130px;
      height: 490px;
      margin-left: 120px;
      width: 521px;
      color: white;
      @include mobile {
        border: none;
        height: 313px;
        width: 0px;
        margin-left: 0px;
        padding-left: 0px;
      }
      @include desktop {
        height: 652px;
        width: 747px;
      }
        
      h1 {
        position: absolute;
        width: 322px;
        height: 55px;
        left: 160px;
        top: 215px;

        font-family: Futura;
        font-style: normal;
        font-weight: 500;
        font-size: 48px;
        line-height: 48px;
        color: #FFFFFF;

        @include mobile {
          left: 30px;
          font-size: 40px;
          top: 100px;
        }
        @include desktop {
          top: 265px;
        }
      }
      h3 {
        
        position: absolute;
        width: 477px;
        height: 216px;
        left: 160px;
        top: 285px;

        font-family: DM Sans;
        font-style: normal;
        font-weight: 100;
        font-size: 24px;
        line-height: 36px;

        @include mobile {
          left: 30px;
          width: 305px;
          font-size: 20px;
          top: 165px;
        }
        @include desktop {
          width: 677px;
          top: 335px;
        }
      }
      a {
        position: absolute;
        width: 269px;
        height: 54px;
        left: 160px;
        top: 530px;
        text-decoration: none;
        place-items: center;
        display: flex;
        justify-content: center;

        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 4px;
        font-family: DM Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 36px;
        color: #482041;
        border: none;

        @include mobile {
          top:  758px;
          left: 54px;
        }
        @include desktop {
          top: 550px;
        }
      }
    }
  }

  .right {
    flex: 0.53;
    overflow: hidden;

    @include mobile {
      flex: none;
    }

    .imgContainer {
      height: 90%;

      @include mobile {
        height: 50%;
      }

      img {
        width: 100%;
        margin-top: 130px;

        @include mobile {
          padding-left: 30px;
          margin-top: 30px;
        }
      }
    }
  }
}