.intro {
  background-color: #984F97;
  display: flex;

  .left {
    flex: 0.5;
    
    
    .wrapper {
      border-radius: 4px;
      border: 1px solid #ffffff;
      padding-left: 40px;
      margin-top: 130px;
      height: 450px;
      margin-left: 120px;
      width: 521px;
      color: white;
      h1 {
        font-size: 48px;
        margin-top: 80px;
      }
      h3 {
        font-weight: 100;
        font-size: 24px;
      }
    }
  }
  .right {
    flex: 0.53;
    overflow: hidden;

    .imgContainer {
      height: 700px;

      img {
        width: 100%;
        margin-top: 130px;
      }
    }
  }
}