$mainColor: #ffffff;

$width: 768px;

@mixin mobile {
  @media (max-width: #{$width}) {
    @content
  }
}

$widthdesktop: 1500px;

@mixin desktop {
  @media (min-width: #{$widthdesktop}) {
    @content
  }
}
